*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
}

.home-container{
    width: 40vw;
    height:40vw;
    
  

    border: solid 2px pink;
    border-radius: 10%;
    

    position: absolute;
    top:50%;
    transform: translateY(-50%);}
.home-container h1{   
    
    text-align: center;
    
}


.student-img{
    display:block;
    width:80%;
    height:80%;

    object-fit:cover;
    object-position:center;
    margin: auto;
}


